.carousel {
  overflow: hidden;
  position: relative;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease;
}

.carouselItem {
  transition: transform 0.5s ease;
  min-width: 100%;

  img {
    width: 100%;
    display: block;
    object-fit: contain;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--lightgrey);
  border: none;
  z-index: 100;
  border-radius: 100%;

  &:hover {
    background-color: var(--lightgrey);
  }
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
