.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgrey);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px var(--shadow-primary);
  padding: 8px;
  gap: 8px;
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .product-image {
    object-fit: contain;
    align-self: center;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .product-name {
      margin: 0;
      font-size: 12px;
    }

    .product-price {
      font-size: 14px;
      color: 'black';
      font-weight: bold;
    }
  }

  .product-rating {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
  }
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; // Set the number of lines to display
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
