.footer-container {
  display: flex;
  padding: 12px;
  justify-content: center;
  border-top: 1px solid var(--border-primary);
  background: var(--white);

  span {
    font-size: 12px;
    font-weight: 500;
  }
}
